body 
{
    background-color: white;
    color: black;
    min-height: 100vh;
    margin: 0;
}

header
{
    background-color: #6DB4FF;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items:flex-end;
}

#Titre
{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

header h1{

    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    margin: 0 0 0 10px;
}

header h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    margin: 0 0 0 10px;
}

nav ul{
    list-style-type: none;
    display: flex;
}

nav li
{
    margin: 10px;
}

nav a
{
    padding-bottom: 10px;
    font-size: 25px;
    text-decoration: none;
    
}

footer
{
    position:absolute;
    background-color: #6DB4FF;
    display: flex;
    justify-content: space-between;
    width: 100%;
    bottom: 0;
}

#boite_contact
{
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
}

footer a
{
    padding-bottom: 10px;
    text-decoration: none;
}

#mention
{
    right: auto;
    font-size: 13px;

}


